* {
	font-family: 'Quicksand', sans-serif;
}

h3 {
	margin-top: 0px;
}

#link {
  margin-right: 30px;
  margin-bottom: 30px;
}

#secondbutton {
	margin-top: 15px;
}

#logo {
	width: 100%;
}

.submitbutton {
	background-color: #003975;
	color: white;
	border: 1px solid grey;
	border-radius: 3px;
}

.dropdownbutton {
	background-color: #01B7F1;
	border: 1px solid grey;
	border-radius: 3px;

}

#footer {
	background-color: #E3E3E3;
	padding-top: 40px;
	padding-bottom: 30px;
}

.tricksimage {
	border-radius: 500px;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 20px;
	padding-right: 0px;
}

.row {
	margin-bottom: 30px;
}

.teampic {
	width: 200px;
	height: 200px;
	border-radius: 500px;
	margin-top: 40px;
}

.teampic:hover {
    background-image: url('assets/images/florian.jpg');
}

#map {
	margin-left: 120px;
	margin-right: 120px;
}

#mail {
	margin-bottom: 50px;
}

.jumbotron p {
	margin-left: 200px;
	margin-right: 200px;
}

h2 {
	padding-top: 70px;
}

.navbar-default {
	margin-bottom: 0px;
}

li {
     cursor: pointer;
     cursor: hand;
   }

.img-responsive {  
margin-bottom: 30px;    
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.portfolio-item:hover,  
.portfolio-item:active,   
.portfolio-item:focus {


-ms-transform: scale(2.5);    
-moz-transform: scale(2.5);  
-webkit-transform: scale(2.5);  
-o-transform: scale(2.5);  
transform: scale(2.5);    
position:relative;      
z-index:100;  
}

.DivName {cursor: pointer}
}


@media (max-width: 575px) {}


@media (min-width: 576px) and (max-width: 767px) {}


@media (min-width: 768px) and (max-width: 991px) {}


@media (min-width: 992px) and (max-width: 1199px) {
	.tricksimage {
		width: 90%;
	}
}


@media (min-width: 1200px) {
	.tricksimage {
		width: 90%;
	}
}
